:root {
    --bg-color: #f7f7fb;
    --surface-glass: rgba(255, 255, 255, 0.75);
    --text-primary: #1a1a1a;
    --text-secondary: #4a4a4a;
    --border-color: rgba(0, 0, 0, 0.12);

    /* Functional */
    --border-radius: 16px;

    /* Accent */
    --accent-color: #7c3aed;
    --accent-glow: rgba(124, 58, 237, 0.25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section { /* The showcase container on this page */
    padding: 2rem 0;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}
section::before { /* The vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--accent-color), transparent);
    /* background: var(--accent-color); */
}

.bubble {
    position: relative;
    margin-bottom: 2rem;
    width: 50%;
    padding-right: 2rem;
}
.bubble:nth-child(odd) {
    left: 0;
    text-align: right;
    padding-right: 3rem;
    padding-left: 0;
}

.bubble:nth-child(even) {
    left: 50%;
    text-align: left;
    padding-left: 3rem;
    padding-right: 0;
}

/* The dots on the main line */
/* .bubble::after {
    content: '';
    position: absolute;
    top: 20px;
    width: 12px;
    height: 12px;
    background: var(--bg-color);
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--accent-glow);
    z-index: 2;
} */

.bubble:nth-child(odd)::after {
    right: -8px;
}
.bubble:nth-child(even)::after {
    left: -8px;
}

.bubble-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--surface-glass);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1.0rem;
    font-size: 1.1rem;
}
.bubble-content i {
    font-size: 1.5rem;
}
a {
    color: var(--text-secondary);
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px dashed var(--accent-color);
}
a:hover {
    color: var(--accent-color);
    border-bottom: 1px dashed var(--accent-color);
}