name: Update My GitHub Stats

on:
  schedule:
    - cron: '0 */6 * * *' # Executing every 6 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run stats script
        env:
          GH_TOKEN: ${{ secrets.STATS_TOKEN }}
        run: python fetch_stats.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add github_full_stats.json
          git commit -m "chore: update stats [skip ci]" || echo "No changes to commit"
          git push
